<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>编号</th>
            <th>信息</th>
            <th>图片</th>
            <th>操作</th>
        </thead>
        <tbody>

        <tr>
            <td rowspan="4"></td>
            <td>物品名</td>
            <td rowspan="4"></td>
            <td rowspan="4"></td>
        </tr>

        <tr>
            <td>生产日期</td>
        </tr>

        <tr>
            <td>保质期（天）</td>
        </tr>

        <tr>
            <td>距过期时间（天）</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>